<!DOCTYPE html>
<body>
        <h1>insert task</h1></br>
        <h1>
             <a href="/insert">Insert Users</a></br>
        <a href="/getAll">List Users</a></br>
        <a href="/update">Update User</a></br>
        <a href="/deleteuser">Delete User</a></br>
        <a href="/insertMany">insertMany User</a></br>
        </h1>
    <form action="/addManyNewTask" method="POST">
        Count <input type="number"  name="count"></br>
        Task name <input type="text"  name="taskName"></br>
        Assign person <input type="text"  name="personName"></br>
        Due date<input type="date"  name="dueDate"></br>
        Task status <input type="text"  name="taskStatus"></br>
        Task description <input type="text"  name="description"></br>
        <button>submit</button>
    </form>
</body>